<%= form_for(@pet) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
<div class="field">
    <%= f.label :person %><br />
    <%= f.collection_select :person_id, Person.all, :id, :name, :prompt => true %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
